<template>
<header :style="{ height: headerSize + 'px' }">
  <h1 :class="[isSmaller ? 'title-header-smaller' : 'title-header-bigger']">Emilien Nicolas</h1>
  <img src="../../assets/portait.jpg" :style="{ top: imgPos + 'px' }"/>
  <div class="contact">
    <a class="gitlab" target="_blank" href="https://gitlab.com/Milihhard"> gitlab</a>
    <a class="github" target="_blank" href="https://github.com/Milihhard"> github</a>
  </div>
</header>
</template>

<script>
export default {
  data() {
    return {
      headerSize: 170,
      imgPos: 70,
      isSmaller: false
    }
  },
  methods: {
    addTodo() {
      const trimmedText = this.newTodoText.trim()
      if (trimmedText) {
        this.todos.push({
          id: nextTodoId++,
          text: trimmedText
        })
        this.newTodoText = ''
      }
    },
    removeTodo(idToRemove) {
      this.todos = this.todos.filter(todo => {
        return todo.id !== idToRemove
      })
    }
  },
  created() {
    // document.body.addEventListener('scroll', this.handleScroll);
    var parent = this;
    window.document.body.onscroll = function() {
      var scroll = window.pageYOffset || document.documentElement.scrollTop
      parent.headerSize = scroll <= 50 ? 170 - scroll : 120;
      parent.imgPos = scroll <= 50 ? 70 - scroll : 20;
      parent.isSmaller = scroll > 10;
    }
  }
}
</script>

<style lang="scss">
@import './headerComp';
</style>
