@import '../../variables';

header {
  background-color: $dark-gray;
  border-bottom: 3px solid $blue;
  position: fixed;
  width: 100%;

  h1 {
    color: $white;
    // font-size: 30px;
    margin: 10px;
    position: relative;
    text-align: left;
    transition: all .3s;
  }

  img {
    background-color: $dark-gray;
    border: 5px solid $blue;
    border-radius: 50%;
    display: block;
    height: 200px;
    margin: auto auto auto calc(50% - 100px);
    object-fit: cover;
    position: absolute;
    top: 50px;
    width: 200px;
  }

  .title-header {
    &-bigger {
      margin-left: calc(50% - 110px);
    }

    &-smaller {
      margin-left: 10px;
    }
  }

  .contact {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
      color: white;
      display: block;
      position: relative;
      text-decoration: none;
      top: -15px;

      &.gitlab::before, &.github::before {
        background-size: 40px;
        content: '';
        display: inline-block;
        height: 40px;
        position: relative;
        top: 15px;
        width: 40px;
      }

      &.gitlab::before {
        background-image: url('../../assets/gitlab.png');
      }

       &.github::before {
         background-image: url('../../assets/github.png');
       }
    }
  }
}
