<template>
	<div id="langages">
    <div v-for="langage in langagesList">
      <img id='myImage' :src="'http://www.geonames.org/flags/m/' + langage.code +'.png'" /><p>{{langage.name | capitalize}} : {{langage.level}}</p>
    </div>
	</div>
</template>

<script>

export default {
  props: ['langagesList'],
}
</script>

<style lang="scss">
@import './langages';
</style>
