<template>
<div id="cv">
  <p class="no-margin-top">t</p>
  <div class="start-content"></div>
  <h1>CV</h1>
  <langages :langagesList="json.cv? json.cv.langages : ''"/>
  <!-- test scroll -->
  <div>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
    <p>{{info}}</p>
  </div>
</div>
</template>

<script>
import langages from '../langages/langages.vue'

export default {
  data() {
    return {
      info: 'test',
      scroll: 0,
      langCode: "fr",
      json: "",
    }
  },
  methods: {
    loadJSON(callback) {
      var xobj = new XMLHttpRequest();
      xobj.overrideMimeType("application/json");
      xobj.open('GET', "static/json/cv.json", true); // Replace 'my_data' with the path to your file
      xobj.onreadystatechange = function() {
        if (xobj.readyState == 4 && xobj.status == "200") {
          callback(xobj.responseText);
        }
      };
      xobj.send(null);
    }
  },
  created() {
    var self = this;
    this.loadJSON(function(response) {
      self.json = JSON.parse(response);
      console.log("actual json : ", self.json.cv.langages[0].name);
    });
  },
}
</script>
<style lang="scss">
@import './cv';
</style>
