@import './variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}
*{
      margin: 0;
      padding: 0;
    }

#app {
  color: $vue-blue;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  max-width: 100%;
}

h1 {
  text-align: center;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
