<template>
	<div id="app">
		<headerComp/>
		<cv/>
	</div>
</template>

<script>
import cv from './components/cv/cv.vue'
import headerComp from './components/headerComp/headerComp.vue'

export default {
	components: {
		cv, headerComp
	}
}
</script>

<style lang="scss">
@import './App';
</style>
